.center-header {
  color: tan;
  text-align: center;
  font-style: italic;
}

.skill-container {
  border: solid tan;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  margin-bottom: 10px;
}

.skill-container > h3 {
  color: tan;
  font-style: italic;
}

.exp-container {
  border: solid green;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  margin-bottom: 10px;
}

.exp-container > h3 {
  color: green;
  font-style: italic;
}

.contact-container {
  border: solid skyblue;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  margin-bottom: 10px;
}

.contact-container > h3 {
  color: blue;
  font-style: italic;
}

.my-rounded-left {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.my-rounded-right {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.my-rounded-all {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
